
#app{
  margin-bottom: 20px;
}

.nav-item:not(:last-child){
  padding-right: 20px;
}

.pageTitle{
  padding-right: 50px;
}

#return{
  float: right;
}

#errorMsg{
  display: none;
  color: red;
  font-weight: 800;
}

#usefulInfo{
  display: none;
}

a{
  text-decoration: none;
}
a:hover{
  color: red;
}